body {
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁",
    "Microsoft JhengHei", sans-serif;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  max-width: 70%;
}

.header {
  border: 2px solid black;
  padding: 25px 20px;
}
.header a {
  font-size: 50px;
  color: gray;
}
.header a:hover {
  color: red;
}

.content {
  height: 500px;
  border: 5px solid red;
  padding: 25px 20px;
}
.content p {
  margin-bottom: 20px;
}
.content a {
  display: inline-block;
  background: blue;
  color: white;
  padding: 10px 20px;
}
.content a:hover {
  background: red;
}
.content a:active {
  background: green;
}

.footer {
  background: pink;
  text-align: center;
  padding: 10px;
}
