/* *: 所有元素都可以套用 */
/* before, after: 偽元素 */
/* 必用: 常見於 css reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁",
    "Microsoft JhengHei", sans-serif; */
}

a:hover {
  color: red;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

h1 {
  padding: 40px 0 24px 0;
  font-size: 80px;
  border-bottom: 2px solid black;
}

.photo {
  margin: 48px 0;
}

.card {
  margin-bottom: 72px;
}

h2 {
  border-bottom: 1px solid black;
  padding-bottom: 8px;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: bold;
}

span {
  color: #a00404;
}

.card span {
  font-size: 24px;
  font-weight: bold;
  padding-left: 16px;
}
.card li {
  margin-bottom: 24px;
  line-height: 1.5;
  font-size: 24px;
}

.skill-container {
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 28px;
  max-width: 996px;
}
.skill-container h2 {
  border-bottom: 1px solid white;
  margin-bottom: 40px;
}
.skill-container ul {
  margin: 0 auto;
  text-align: left;
  padding-left: 24px;
  border-left: 1px solid #96a9c4;
  width: 220px;
}

.timeline {
  border-left: 1px solid #96a9c4;
  padding-left: 24px;
  margin-left: 24px;
  max-width: 667px;
}

.timeline li {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: bold;
}
.timeline img {
  margin-top: 8px;
  margin-bottom: 8.15px;
}
.timeline p {
  font-size: 20px;
  font-weight: 300;
}

.footer {
  padding-top: 24px;
  padding-bottom: 48px;
  text-align: center;
}
.footer h2 {
  border-bottom: 1px solid white;
  padding-bottom: 8px;
  font-size: 32px;
  font-weight: 500;
}
.footer span {
  margin-left: 16px;
  font-size: 24px;
  font-weight: 500;
}
.footer ul {
  padding-top: 16px;
}
.footer li {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 300;
}

.icons {
  margin: 0 auto;
  margin-top: 20px;
  width: 192px;
}

.blue {
  background: #415165;
  color: white;
  text-align: center;
}
.blue span {
  color: white;
}
