/* *: 所有元素都可以套用 */
/* before, after: 偽元素 */
/* 必用: 常見於 css reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁",
    "Microsoft JhengHei", sans-serif;
}

.box {
  width: 50px;
  height: 50px;
  border: 10px solid blue;
  padding: 10px;
  background: #000;

  /* 常見使用border-box */
  /* box-sizing: border-box; */
}
