h1 {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
  text-indent: 32px;
}

.red {
  border-left: 8px solid red;
  border-bottom: 16px solid red;
  font-size: 32px;
}

.delete {
  text-decoration: line-through;
}

img {
  border: 5px solid blueviolet;
}
