.menu {
  /* width: 700px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.menu li {
  width: 100px;
  text-align: center;
  border: 1px solid #000;
}

.menu li a {
  display: block;
  padding: 10px 0;
  background: #00ffa2;
  color: #004466;
  text-decoration: none;
  transition: 0.5s;
}
.menu li a:hover {
  background: #004466;
  color: #00ffa2;
  text-decoration: none;
}
