.container {
  width: 900px;
  height: 500px;
  background: #004466;
  margin: 0 auto;
  /* padding: 20px; */
  display: flex;

  /* default */
  /* flex-direction: row; */
  /* flex-direction: row-reverse; */
  flex-direction: column;
  /* flex-direction: column-reverse; */

  /* default */
  justify-content: flex-start;
  /* justify-content: flex-end; */
  /* justify-content: center; */
  justify-content: space-between;
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
}

.item {
  background: #00ffa2;
  color: #004466;
  text-align: center;
  font-size: 36px;
  width: 100px;
  margin: 10px;
  padding: 10px;
}
